@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

#tsparticles {
    position: fixed;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0px;
    z-index: -1;
}

/*Home section*/
.home{
    padding-top: 4%;
    padding-bottom: 0%;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    color: white;
}

.home div{
    margin-top: 16%;
    text-align: center;
    justify-content: center;
}

.title{
    font-size: 70px;
    margin-top: 2%;
    animation-delay: 0.25s;
}

.subTitle{
    margin-top: 5%;
    font-size: 60px;
    animation-delay: 0.50s;
}


/*Media section*/

/*Tablet orizontal*/
@media only screen and (min-width: 737px) and (max-width: 1279px){

    /*Home section*/
    .home{
        padding: 10% 0 ;
        text-align: center;
        justify-content: center;
    }

    .home .navy .title{
        font-size: 85px;
        margin: 5% 0;
    }
    
    .home .navy .subTitle{
        margin-top: 8%;
        font-size: 75px;
    }
}

/*Tablet vertical*/
@media only screen and (min-width: 481px) and (max-width: 736px){

    /*Home section*/
    .home{
        padding: 30% 0 ;
        text-align: center;
        justify-content: center;
    }

    .home .navy .title{
        font-size: 3em;
        margin: 5% 3% 0 3%;
    }
    
    .home .navy .subTitle{
        margin-top: 5%;
        font-size: 2.5em;
    }
}

/*Smartphone and small tablet*/
@media only screen and (min-width: 200px) and (max-width: 480px){
    /*Home section*/
    .home{
        margin: 0 3%;
        padding: 32% 0 ;
        text-align: center;
        justify-content: center;
    }

    .title{
        font-size: 1.8em;
        margin-top: 5%;
    }
    
    .subTitle{
        margin-top: 8%;
        font-size: 1.5em;
    }
}