.links {
    text-align: center;
    justify-self: center;
    justify-items: center;
    justify-content: center;
}

.links .icon {
    margin: 2%;
    font-size: 35px;
    cursor: pointer;
    color: rgb(255, 177, 177);
}

.icon:hover{
    transform: scale(1.2);
}

.links {
    font-size: 20px;
}

.resumeBtn{
  background: radial-gradient(circle at 0.4% -0.6%, rgb(143, 170, 210) 0%, rgb(255, 177, 177) 90%);
  border: none;
  color: white;
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  border-radius: 10px;
  margin: 2%;
}

.resumeBtn:hover{
  background: radial-gradient(circle at 0.4% -0.6%, rgb(255, 177, 177) 0%, rgb(143, 170, 210) 90%);
}